#search-input {
  color: $link-color;
}

blockquote {
  background-color: $table-background-color;
}

h5,
h6 {
  color: $body-heading-color !important;
}

blockquote {
  // without important, these are overriden by callouts
  padding: 12px 16px 12px 24px !important;
  margin: 0.5em !important;
  border-radius: 0 !important;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

footer > div > p {
  margin-top: 0;
}

h4 {
  font-size: 14px !important;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.btn {
  border-radius: 0;
}

$btn-colors: (
  "purple": $darker-purple,
  "blue": $nord10,
  "green": $darker-green,
);

@each $color, $val in $btn-colors {
  .btn-#{$color} {
    background-image: none;
    background-color: $val;
  }

  .btn-#{$color}:hover {
    background-image: none;
    background-color: darken($val, 10%);
  }
}

/* Labels */

.label {
  border-radius: 0 !important;
  background-color: $nord10;
}

.label,
.label-blue {
  background-color: $nord10;
}

.label-green {
  background-color: $darker-green;
}

.label-purple {
  background-color: $darker-purple;
}

.label-yellow {
  background-color: $nord13;
  color: darken($nord0, 10%);
}

.label-red {
  background-color: $nord11;
}

$callout-icons: (
  /* fa-circle-xmark */ "danger": "\f057",
  /* fa-warning */ "warning": "\f071",
  /* fa-circle-exclamation */ "caution": "\f06a",
  /* fa-circle-info */ "info": "\f05a",
  /* a-check-circle */ "success": "\f058"
);

@each $name, $val in $callout-icons {
  .#{$name}-icon > p:first-child::before {
    // fa-solid, fa-lg
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 1.25em;
    font-weight: 900;
    display: inline-block;
    line-height: 0.5em;
    vertical-align: -0.075em;

    margin-right: 10px;
    content: $val;
  }
}
