@import "support/nord.scss";

$darker-purple: darken($nord15, 10%);
$darker-green: darken($nord14, 10%);

$danger-300: $nord11;
$warning-300: $nord12;
$caution-300: $nord13;
$success-300: $nord14;
$info-300: $nord9;

$danger-000: lighten($danger-300, 10%);
$warning-000: lighten($warning-300, 10%);
$caution-000: lighten($caution-300, 10%);
$success-000: lighten($success-300, 10%);
$info-000: lighten($info-300, 10%);
