@import "../support/nord.scss";

$body-background-color: $nord1;
$link-color: $nord8;
$button-primary-color: $nord8;
$sidebar-color: $nord0;
$code-background-color: $nord2;
$search-background-color: $nord2;
$table-background-color: $nord2;
$body-text-color: $nord4;
$body-heading-color: $nord6;
$nav-child-link-color: $nord7;
$feedback-color: $nord3;
$border-color: $nord3;

#search-input {
  color: $link-color;
}

blockquote {
  padding: 12px 16px 12px 32px;
  border-left: 4px solid $link-color;
  background-color: $table-background-color;
  margin: 0.5em;
}
