@import "support/nord.scss";

$body-background-color: $nord1;
$link-color: $nord8;
$btn-primary-color: $nord8;
$base-button-color: $nord3;
$sidebar-color: $nord0;
$code-background-color: $nord2;
$search-background-color: $nord2;
$table-background-color: $nord2;
$body-text-color: $nord4;
$body-heading-color: $nord6;
$nav-child-link-color: $nord7;
$feedback-color: $nord3;
$border-color: $nord3;

li::before {
  color: darken($nord5, 10%) !important;
}

@import "support/common.scss";
