@import "../support/nord.scss";

$link-color: $nord10;
$btn-primary-color: $nord10;
$base-button-color: $nord4;
$body-background-color: $nord5;
$body-text-color: $nord0;
$sidebar-color: $nord4;
$nav-child-link-color: $nord9;
$code-background-color: $nord6;
$search-background-color: $nord6;
$table-background-color: $nord6;
$feedback-color: $nord5;
$border-color: $nord5;

@import "../support/common.scss";
