th, td {
    border: 1px solid;
}

/* Add border-collapse for clean table lines */
.sl-markdown-content table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.sl-markdown-content table th,
.sl-markdown-content table td {
    padding: 0.75rem;
    word-break: break-word;
    white-space: normal;
    max-width: 100%;
    min-width: 5rem;
}


/* Add left padding to the first column */
.sl-markdown-content table th:first-child,
.sl-markdown-content table td:first-child {
    padding-inline-start: 0.75rem;
}

/* Add right padding to the last column */
.sl-markdown-content table th:last-child,
.sl-markdown-content table td:last-child {
    padding-inline-end: 1rem;
}
