---
const { entry } = Astro.locals.starlightRoute;
---

<h1 id="_top">{entry?.data?.title ?? 'Default Title'}</h1>
{entry?.data?.description ? (
    <p id="page-desc">{entry.data.description}</p>
) : null}

<style>
    h1 {
        margin-top: 1rem;
        font-size: var(--sl-text-h1);
        line-height: var(--sl-line-height-headings);
        font-weight: 600;
        color: var(--sl-color-white);
    }
</style>
