---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
---

<div class="sidebar-container">
    <Default {...Astro.props}><slot /></Default>
</div>

<style>
    .sidebar-container {
        overflow: auto;
        max-height: calc(100vh - 2 * var(--sl-nav-height));
    }
</style>
