---
const redirectUrl = 'https://discord.com/invite/2EDwzWa'; // Replace with your target URL
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a>...</p>
  </body>
</html>